[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ecrire
Name[Name]=Ecrire
Name[ab]=
Name[ca]=
Name[cs]=
Name[de]=
Name[el]=
Name[eo]=
Name[es]=
Name[fr]=Écrire
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[ko]=
Name[pt]=
Name[ru]=
Name[sr]=
Name[tr]=
Comment=Simple text editor
Comment[eo]=Simpla tekst-redaktilo
Comment[es]=Un simple editor de texto
Comment[gl]=Un simple editor de texto
Comment[it]=Semplice editor di testo
Comment[pt]=Editor de texto
Comment[ru]=Простой текстовый редактор
Icon=ecrire
Exec=ecrire %f
Terminal=false
MimeType=text/plain
Categories=Utility;TextEditor;
StartupNotify=true
