[Desktop Entry]
Categories=Utility;TextEditor;
Comment=Simple text editor
Comment[eo]=Simpla tekst-redaktilo
Comment[es]=Un simple editor de texto
Comment[gl]=Un simple editor de texto
Comment[it]=Semplice editor di testo
Comment[pt]=Editor de texto
Comment[ru]=Простой текстовый редактор
Encoding=UTF-8
Exec=ecrire %f
Icon=ecrire
MimeType=text/plain
Name=Ecrire
Name[fr]=Écrire
StartupNotify=true
Terminal=false
Type=Application
