[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ecrire
Name[fr]=Écrire
Name[gl]=Ecrire
Name[ms]=Ecrire
Name[sr]=Писати
Name[tr]=Ecrire
Comment=Simple text editor
Comment[de]=Einfacher Textbearbeiter
Comment[eo]=Simpla tekst-redaktilo
Comment[es]=Un simple editor de texto
Comment[fr]=Un simple éditeur de texte
Comment[gl]=Un simple editor de texto
Comment[it]=Semplice editor di testo
Comment[ms]=Penyunting teks yang ringkas
Comment[pt]=Editor de texto
Comment[ru]=Простой текстовый редактор
Comment[sr]=Једноставан уређивач текста
Comment[tr]=Basit metin düzenleyici
Icon=ecrire
Exec=ecrire %f
Terminal=false
MimeType=text/plain
Categories=Utility;TextEditor;
StartupNotify=true
